# Logs
*.log

# Dependency directories
node_modules/
coverage/

# Sensitive info
# local/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

.DS_Store